body{
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
    margin:0;
}

h1{
    text-align:center;
    color:#ff6600;
}

.card{
    background:#222;
    margin:20px;
    padding:20px;
    border-radius:15px;
}